### Importing the Libraries

In [3]:
import pandas as pd
import numpy as np

### Importing the Dataset

In [5]:
df=pd.read_csv(r"C:\Users\Y SAI KUMAR\Downloads\housing_price_dataset.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SquareFeet    50000 non-null  int64
 1   Bedrooms      50000 non-null  int64
 2   Bathrooms     50000 non-null  int64
 3   Neighborhood  50000 non-null  object
 4   YearBuilt     50000 non-null  int64
 5   Price         50000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

### Data Preprocessing

### EDA

In [7]:
df.isna().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [10]:
df['Neighborhood']=df['Neighborhood'].map({'Rural':1,'Suburb':2,'Urban':3})

In [11]:
df.head()

   SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt          Price
0        2126         4          1             1       1969  215355.283618
1        2459         3          2             1       1980  195014.221626
2        1860         2          1             2       1970  306891.012076
3        2294         2          1             3       1996  206786.787153
4        2130         5          2             2       2001  272436.239065

### Model Building

### Splitting into input and  output

In [15]:
x=df.drop('Price',axis=1)
y=df['Price']

In [16]:
x.head()

   SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt
0        2126         4          1             1       1969
1        2459         3          2             1       1980
2        1860         2          1             2       1970
3        2294         2          1             3       1996
4        2130         5          2             2       2001

In [17]:
y

0        215355.283618
1        195014.221626
2        306891.012076
3        206786.787153
4        272436.239065
             ...
49995    100080.865895
49996    374507.656727
49997    384110.555590
49998    380512.685957
49999    221618.583218
Name: Price, Length: 50000, dtype: float64

In [20]:
!pip install scikit-learn

ERROR: Invalid requirement: 'scikit-'

Requirement already satisfied: scikit-learn in c:\users\y sai kumar\pycharmprojects\anaconda\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\y sai kumar\pycharmprojects\anaconda\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\y sai kumar\pycharmprojects\anaconda\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\y sai kumar\pycharmprojects\anaconda\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\y sai kumar\pycharmprojects\anaconda\lib\site-packages (from scikit-learn) (2.2.0)

####  Splitting into train and test

In [21]:
from sklearn.model_selection import train_test_split

In [30]:
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [32]:
x_train.shape

(40000, 5)

In [33]:
x_test.shape

(10000, 5)

In [34]:
y_train.shape

(40000,)

In [35]:
y_test.shape

(10000,)

### Algorithms=KNN,Linear Regression,svm,DT

## KNN

In [36]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [45]:
    knn=KNeighborsRegressor()
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    print(np.sqrt(mean_squared_error(y_test,y_pred)))

54961.345678788784

## Evaluating

In [42]:
from sklearn.metrics import mean_squared_error,r2_score

In [44]:
np.sqrt(mean_squared_error(y_test,y_pred))

54961.345678788784

### Linear Regresssion

In [49]:
from sklearn.linear_model import LinearRegression

In [51]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

49824.439953491434

In [52]:
from sklearn.svm import SVR

In [54]:
'''sv=SVR()
sv.fit(x_train,y_train)
y_pred=sv.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))'''

KeyboardInterrupt:

### Decision Tree

In [55]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

73657.27336307705

In [59]:
lr.predict([[2700,2,2,3,1980]])[0]

C:\Users\Y SAI KUMAR\PycharmProjects\ANACONDA\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

287113.40045633214

In [60]:
lr.coef_

array([  99.39607877, 4950.3387447 , 3022.2858569 ,  749.33195016,
        -12.45081841])

In [61]:
lr.intercept_

25203.363172230806

In [63]:
sqft=2700
bed=2
bath=2
nb=3
year=1980
price=99.39607877*sqft+4950.3387447*bed+3022.2858569*bath+749.33195016*nb-12.45081841*year+25203.363172230806
print(price)

287113.4004531108